{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.label }}</td>
                <td>
                    <a href="{{ path('app_category_show', {'id': category.id}) }}"> <i class="fa-solid fa-eye blue" id="tooltip-show"></i> </a>
                    <a href="{{ path('app_category_edit', {'id': category.id}) }}"> <i class="fa-solid fa-pen purple" id="tooltip-edit"></i> </a>
                    <a href="{{ path('app_category_delete', {'id': category.id}) }}"><i class="fa-solid fa-trash-can red" id="tooltip-delete"></i></a>

                    {# <a href="{{ path('app_category_show', {'id': category.id}) }}"> Voir </a>
                    <a href="{{ path('app_category_edit', {'id': category.id}) }}"> Modifier </a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3"> Aucun résultat trouvé </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_category_new') }}"> 
        <button class="btn-create my-5"> Créer une nouvelle catégorie </button>
    </a>
    
{% endblock %}
