{% extends 'base.html.twig' %}

{% block title %} Cétégories {% endblock %}

{% block body %}
    <h1> Catégorie : {{ category.label }} </h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ category.label }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_category_index') }}"> Retour à la liste des catégories </a> <br>

    <button class="btn-modificate my-4"> <a href="{{ path('app_category_edit', {'id': category.id}) }}"> Modifier la catégorie </a> </button>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
