{% extends 'base.html.twig' %}

{% block title %} Liste des produits {% endblock %}

{% block body %}
    <h1> Liste des produits </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price / 100 }}</td>
                <td>{{ product.imageFile }}</td>
                <td>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}"> Voir </a>
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}"> Modifier </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7"> Aucun résultat trouvé </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_product_new') }}">Create new</a>
{% endblock %}
