{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Rôles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstname }}</td>
            </tr>        
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}"> Retour à la liste des utilisateurs </a> <br>

    <button class="btn-modificate my-4"> 
        <a href="{{ path('app_user_edit', {'id': user.id}) }}"> Modifier l'utilisateur </a>
    </button>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
