{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!{% endblock %}

{% block body %}


    <h1 class=" lh-1 mb-5 text-center">Découvrez notre catalogue et les promotions de Mercadona</h1>


<div class="container">

    <div class="row">
    {% for product in products %}
        <div class="col-md-3">
        <div class="card" style="width: 100%;">
            <img src="http://dummyimage.com/150x110/999/fff" class="card-img-top" alt="Image du produit 1">
            <div class="card-body">
            <h3 class="card-title"> {{ product.name }} </h3>
            <p class="card-title fst-italic"> Catégorie:{{ product.category }} </p>
            <p class="card-text"> {{ product.description }} </p>
            </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    {% if (product.discount is same as (null)) %}
                        <span class="product-price f-green">{{ (product.price / 100 ) | number_format(2, ',', '.')  }} € </span>
                    {% else %}
                    <span class="product-price f-green old-price"> {{ (product.price / 100) | number_format(2, ',', '.') }} €</span>

                    <span class="product-price f-red"> {{ ( (product.price - product.price * (product.discount / 100)) / 100) | number_format(2, ',', '.') }} €  </span>
            
                    
                {% endif %}
                </div>
            </li>
            </ul>
        </div>
        </div>
    {% endfor %}
</div>
</div>

{% endblock %}
