{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!{% endblock %}

{% block body %}


    <h1 class=" lh-1 mb-5 text-center">Découvrez notre catalogue et les promotions de Mercadona</h1>


<div class="container">

<form method="GET" action="{{ path('app_catalogue') }}" class="categorie-list">
    <div class="form-group mb-5">
        <label for="category">Trier par catégorie :</label>
        <select name="category" id="category" class="form-control">
            <option value="">Toutes les catégories</option>
            <option value="">Boissons</option>
                    {# {% for category in categories %}
                        <option value="{{ category.id }}" {% if selectedCategory == category.id %}selected{% endif %}>{{ category.label }}</option>
                    {% endfor %} #}
        </select>
    </div>
    <button type="submit" class="btn-create mb-5">Trier</button>
</form>

    <div class="row">
    {% for product in products %}
        <div class="col-md-3">
        <div class="card" style="width: 100%;">
            <img src="{{ vich_uploader_asset(product, 'imageFile') }}" class="card-img-top" alt="Image du produit" style="max-width:100%">
            <div class="card-body">
            <h5 class="card-title"> {{ product.name }} </h5>
            <p class="card-title fst-italic"> Catégorie : {{ product.category }} </p>
            <p class="card-text"> {{ product.description }} </p>
            </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    {% if (product.discount is same as (null)) %}
                        <span class="product-price f-green">{{ (product.price / 100 ) | number_format(2, ',', '.')  }} € </span>
                    {% else %}
                    <span class="product-price f-green old-price"> {{ (product.price / 100) | number_format(2, ',', '.') }} €</span>

                    <span class="product-price f-red"> {{ ( (product.price - product.price * (product.discount / 100)) / 100) | number_format(2, ',', '.') }} €  </span>
            
                    
                {% endif %}
                </div>
            </li>
            </ul>
        </div>
        </div>
    {% endfor %}
</div>
</div>

{% endblock %}
